<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.feifei.testv4">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestV3"
        tools:replace="android:allowBackup"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true">

        <activity android:name="com.feifei.testv4.ActivityPages.CheckAttendanceActivity" />
        <activity android:name="com.feifei.testv4.ActivityPages.ViewScanDataActivity" />
        <activity android:name="com.feifei.testv4.ScanDevicesActivity" />
        <activity android:name="com.feifei.testv4.ActivityPages.ViewClassesActivity" />
        <activity
            android:name="com.feifei.testv4.ActivityPages.menu_popup"
            android:theme="@style/PopMe" />
        <activity
            android:name="com.feifei.testv4.ActivityPages.AdminLoginActivity"
            android:label="Admin Login" />
        <activity
            android:name="com.feifei.testv4.ActivityPages.SetCredentialsActivity"
            android:label="Register Credentials" />
        <activity
            android:name="com.feifei.testv4.ActivityPages.MainActivity"
            android:label="198 BLE">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.feifei.testv4.AlarmReceiver" />
        <receiver android:name="com.feifei.testv4.ClassAlarmReceiver" />
        <receiver android:name="com.feifei.testv4.PingAlarmReceiver" />
        <receiver
            android:name="com.feifei.testv4.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <!-- For HTC devices -->
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service android:name= "com.feifei.testv4.PingAlarmService" />

    </application>

</manifest>